{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quasi-Reddit</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <style media="screen">
      body {
        background-color: lightblue;
        color: darkblue;
        padding-left: 15px
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="btn-group" role="group" aria-label="Left Align">
        <button type="button" name="button"><a href="{% url 'index_list_view' %}">Home</a></button>
        <button type="button" name="button"><a href="{% url 'user_create_view' %}">Create User</a></button>
        <button type="button" name="button"><a href="{% url 'sub_create_view' %}">Create Subreddit</a></button>
          {% if not request.user.is_authenticated %}
            <button type="button" name="button"><a href="{% url 'login' %}">Login!</a></button>
          {% else %}
            <button type="button" name="button"><a href="{% url 'logout' %}?next={% url 'index_list_view' %}">Logout</a></button>
            <button type="button" name="button"><a href="{% url 'profile_detail_view' request.user.profile.id %}">Profile</a></button>
            <button type="button" name="button"><a href="{% url 'messages_inbox' %}">Inbox</a></button>
          {% endif %}
          Hello, {{ request.user }}

        <br>
        {% for subreddit in count|slice:":11"%}
        <button type="button" name="button"><a href="{% url 'subreddit_detail_view' subreddit.id %}">{{subreddit.name}}</a></button>
        {% endfor %}
      </div>
      {% block content %}
      {% endblock %}
      {% block footer %}

      {% endblock %}
    </div>
  </body>
</html>
