<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome!</title>
  </head>
  <body>
    <h1>Welcome to Quasi-Reddit!!</h1>
    Total Posts: <br>
    <br>
      {% for item in count %}
      {{ item.creation }}
      {{ item.name }}
      {{ item.current_count }}<br>
      {% endfor %}
       <br>
      {% for time in time %}
        Posts within 24 hours: {{ time.today_count }}<br>
        Posts within the last 7 days: {{ time.daily_add }} <br>
    {% endfor %}
  </body>
</html>
