{% extends 'base.html' %}
{% block content %}
      <h1>Welcome to Quasi-Reddit!!</h1>
      Total Subreddit Posts: {{test}} <br>
      <br>
      {% for item in count %}
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge"> {{ item.current_count }} </span>
            <a href="{% url 'subreddit_detail_view' item.id %}">r/{{ item.name }}</a>
              -- {{ item.description }}<br>
          </li>
        </ul>

        {% endfor %}
         <br>

{% endblock %}
