{% extends 'base.html' %}
{% block content %}
      <h1>Welcome to Quasi-Reddit!!</h1>
      Total Subreddit Posts: <br>
      <br>
      {% for item in count %}
        <div class="panel panel-default">
          <div class="panel-body">

            <a href="{% url 'subreddit_detail_view' item.id %}">r/{{ item.name }}</a>
              -- {{ item.description }}<br>
              Posts: {{ item.current_count }}<br>

          </div>
        </div>
        {% endfor %}
         <br>
          <!-- {% for time in time %}
          {{ time.name }}<br>
            Posts within 24 hours:  -- {{ time.today_count }}<br>
            Post average 7 days: {{ time.daily_add }} <br>
            <br>
          {% endfor %}
          <br>
          Post in the last day?
            <br>
            {% for day in post %}
              {{ day.title }} --
              {{ day.is_recent }}
            <br>
            {% endfor %}
          <br>
          Comments in the last 3 hours?!
            {% for post in post %}
            <br>
              {{ post }} -- {{ post.is_hot }}
            {% endfor %} -->
    <!-- </div> -->
{% endblock %}
